<div class="container-fluid">
  <h5 class="text-center">Create a new Quote</h5>
  <hr>
  <form>
      <div class="form-group">

          <label for="description">Quote</label>
          <textarea class="form-control" id="description" rows="4" required></textarea>

      </div>
      <div class="form-group">

        <label for="name">Author</label>
        <input type="text" required class="form-control" id="name">

    </div>
    <div class="form-group">

      <label for="name">Created by</label>
      <input type="text" required class="form-control" id="name">

  </div>
  </form>
</div>