<div *ngFor='let quote of quotes;'>
  <div class="card">
    <div class="card-header">
      <blockquote class="blockquote mb-0">
        <p>{{quote.quote}}</p>
        <footer class="blockquote-footer"><cite title="Source Title">{{quote.author}}</cite></footer>
      </blockquote>
    </div>
    <div class="card-body">
      <div class="quote-meta">
        <span class="text-muted"> By: {{quote.createdBy}}, {{quote.date | timeAgo}}.</span>
        <span class="text-muted vote">
          <span class="vote" (click)="quote.upvote()"><i class="fa fa-fw fa-thumbs-up"></i> {{quote.upvotes}}</span>
          <span class="vote" (click)="quote.downvote()"><i class="fa fa-fw fa-thumbs-down"></i>
            {{quote.downvotes}}</span>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-6">
  <app-quote-list-form></app-quote-list-form>
</div> -->