.quote-meta {
  display: flex;
  justify-content: space-between;
}

.vote {
  margin-left: 1em;
  user-select: none;
}

.vote:hover {
  cursor: pointer;
}

.card {
  margin-bottom: 1em;
}

@media all and (max-width: 370px) {
  .quote-meta {
    flex-direction: column;
  }
}